.detailContainer{
    height: 85vh;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.flag{
    box-sizing: border-box;
    padding: 30px;
}