.flex-container {
  background-image: url(../../images/correspondencia-vieja-del-pirata-papel-pintado-de-la-foto-para-el-interior-representación-d-111279991.jpg);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 75vh
}

.loading{
  margin: auto;
}
  
  .flex-container > div {
    width: 30%;
    text-align: center;
    margin: 30px auto;
  }