.card{
    border: 2px solid black;
    border-radius: 30px;
    background-color: #A47E3B;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 264px
}

.card img{
    height: 100px;
    width: auto;
}